body { 
    margin: 0; 
    padding: 0;
    font-family: 'Merriweather', serif;
}
section { 
    padding: 5% 15%; 
    margin: 0 auto; 
    background: #242424; 
    color: #f3f3f3;
}
ul{
    list-style: none;
}
.navigation{
    position:fixed;
    top:0;
}
.logo{
    position: absolute;
    top:0;
    left:90%;
}
.header{
    position: absolute;
    top: 0;
    left: 34%;
    color: #1CC8CC;
}
.home_icon, .about_icon, .contact_icon{
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom:10px;
}
.home_icon {
    background: url('../images/test.png') no-repeat -1px -1px;
}
.about_icon {
    background: url('../images/test.png') no-repeat -34px -1px;
}
.contact_icon {
    background: url('../images/test.png') no-repeat -67px -1px;

}